* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	padding: 5% 0;
	color: lightgray;
	background-color: rgb(33, 71, 20);
}

h1 {
	font-size: 50px;
}

p {
	font-family: sans-serif;
	font-size: 35px;
	text-align: center;
	font-weight: 600;
	color: gainsboro;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 50px;
}

button {
	font-size: 30px;
}